@using ImageResizer
@using ImageResizer.Plugins.EPiServer
@using SampleAlloy.Business
@model PageViewModel<SampleAlloy.Models.Pages.StartPage>

<div>
    <img src="@Html.ResizeImage(Model.CurrentPage.MainImage, 100).Add("h", "150").Add("gradient", "true")"/>

    <img src="@Html.ResizeImage(Model.CurrentPage.MainImage).Width(200).Height(200).Scale(ScaleMode.Both).FitMode(FitMode.Crop)"/>
</div>

<div>
    <img src="@Html.ResizeImageWithFallback(Model.CurrentPage.EmptyImage, "/noimage.jpg", 100).Add("h", "150").Add("gradient", "true")"/>

    <img src="@Html.ResizeImageWithFallback(Model.CurrentPage.EmptyImage, "/noimage.jpg").Width(200).Height(200).Scale(ScaleMode.Both).FitMode(FitMode.Crop)"/>
</div>

<div>
    <img src="@Html.ResizeImageWithFallback(Model.CurrentPage.EmptyImage, string.Empty, 100).Add("h", "150").Add("gradient", "true")"/>

    <img src="@Html.ResizeImageWithFallback(Model.CurrentPage.EmptyImage, string.Empty).Width(200).Height(200).Scale(ScaleMode.Both).FitMode(FitMode.Crop)"/>
</div>


<div>
    @Html.ResizePicture(Model.CurrentPage.MainImage, PictureProfiles.SampleImage)
    @Html.ResizePicture(Model.CurrentPage.MainImage.ResizeImage().Quality(10), PictureProfiles.SampleImage)
</div>